section#services {
  margin-top: 40px;
}

.services {
  .swiper-button-next {
    width: 67px;
    height: 67px;
    background: url('../img/icons/icon-slider-arrow-right.svg') no-repeat;
    z-index: 2;
    right: 12px;
    top: 200px;
    outline: none;
    transition: all .3s ease;

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='67' height='67' viewBox='0 0 67 67' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='33.5' cy='33.5' r='33.5' transform='matrix(-1 0 0 1 67 0)' fill='%231FBBB3'/%3E%3Cpath d='M30.6105 46.0125L42.2101 34.4625C42.3478 34.325 42.4451 34.1761 42.502 34.0157C42.5598 33.8553 42.5887 33.6834 42.5887 33.5C42.5887 33.3167 42.5598 33.1448 42.502 32.9844C42.4451 32.824 42.3478 32.675 42.2101 32.5375L30.6105 20.9532C30.2892 20.6323 29.8877 20.4719 29.4058 20.4719C28.9239 20.4719 28.5108 20.6438 28.1666 20.9875C27.8224 21.3313 27.6503 21.7323 27.6503 22.1907C27.6503 22.649 27.8224 23.05 28.1666 23.3938L38.2862 33.5L28.1666 43.6063C27.8454 43.9271 27.6848 44.3222 27.6848 44.7915C27.6848 45.2618 27.8569 45.6688 28.2011 46.0125C28.5453 46.3563 28.9468 46.5282 29.4058 46.5282C29.8647 46.5282 30.2663 46.3563 30.6105 46.0125Z' fill='white'/%3E%3C/svg%3E%0A");
    }

    &:focus {
      background-image: url("data:image/svg+xml,%3Csvg width='67' height='67' viewBox='0 0 67 67' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='33.5' cy='33.5' r='33.5' transform='matrix(-1 0 0 1 67 0)' fill='%231BA49D'/%3E%3Cpath d='M30.6105 46.0126L42.2101 34.4625C42.3478 34.325 42.4451 34.1761 42.502 34.0157C42.5598 33.8553 42.5887 33.6834 42.5887 33.5C42.5887 33.3167 42.5598 33.1448 42.502 32.9844C42.4451 32.824 42.3478 32.675 42.2101 32.5375L30.6105 20.9532C30.2892 20.6323 29.8877 20.4719 29.4058 20.4719C28.9239 20.4719 28.5108 20.6438 28.1666 20.9875C27.8224 21.3313 27.6503 21.7323 27.6503 22.1907C27.6503 22.649 27.8224 23.05 28.1666 23.3938L38.2862 33.5L28.1666 43.6063C27.8454 43.9271 27.6848 44.3222 27.6848 44.7915C27.6848 45.2618 27.8569 45.6688 28.2011 46.0126C28.5453 46.3563 28.9468 46.5282 29.4058 46.5282C29.8647 46.5282 30.2663 46.3563 30.6105 46.0126Z' fill='white'/%3E%3C/svg%3E%0A");
    }

    @media (max-width: 992px) {
      display: none;
    }
  }
  .swiper-button-prev {
    width: 67px;
    height: 67px;
    background: url('../img/icons/icon-slider-arrow-left.svg') no-repeat;
    z-index: 2;
    left: 12px;
    top: 200px;
    outline: none;
    transition: all .3s ease;

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='67' height='67' viewBox='0 0 67 67' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='33.5' cy='33.5' r='33.5' transform='matrix(1 8.74228e-08 8.74228e-08 -1 0 67)' fill='%231FBBB3'/%3E%3Cpath d='M36.3895 20.9875L24.7899 32.5375C24.6522 32.675 24.5549 32.8239 24.498 32.9844C24.4402 33.1448 24.4113 33.3166 24.4113 33.5C24.4113 33.6833 24.4402 33.8552 24.498 34.0156C24.5549 34.176 24.6522 34.325 24.7899 34.4625L36.3895 46.0469C36.7108 46.3677 37.1123 46.5281 37.5942 46.5281C38.0761 46.5281 38.4892 46.3562 38.8334 46.0125C39.1776 45.6687 39.3497 45.2677 39.3497 44.8094C39.3497 44.351 39.1776 43.95 38.8334 43.6062L28.7138 33.5L38.8334 23.3937C39.1546 23.0729 39.3152 22.6778 39.3152 22.2085C39.3152 21.7382 39.1431 21.3312 38.7989 20.9875C38.4547 20.6437 38.0532 20.4719 37.5942 20.4719C37.1353 20.4719 36.7337 20.6437 36.3895 20.9875Z' fill='white'/%3E%3C/svg%3E%0A");
    }

    &:focus {
      background-image: url("data:image/svg+xml,%3Csvg width='67' height='67' viewBox='0 0 67 67' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='33.5' cy='33.5' r='33.5' transform='matrix(1 8.74228e-08 8.74228e-08 -1 0 67)' fill='%231BA49D'/%3E%3Cpath d='M36.3895 20.9875L24.7899 32.5375C24.6522 32.675 24.5549 32.8239 24.498 32.9844C24.4402 33.1448 24.4113 33.3166 24.4113 33.5C24.4113 33.6833 24.4402 33.8552 24.498 34.0156C24.5549 34.176 24.6522 34.325 24.7899 34.4625L36.3895 46.0469C36.7108 46.3677 37.1123 46.5281 37.5942 46.5281C38.0761 46.5281 38.4892 46.3562 38.8334 46.0125C39.1776 45.6687 39.3497 45.2677 39.3497 44.8094C39.3497 44.351 39.1776 43.95 38.8334 43.6062L28.7138 33.5L38.8334 23.3937C39.1546 23.0729 39.3152 22.6778 39.3152 22.2085C39.3152 21.7382 39.1431 21.3312 38.7989 20.9875C38.4547 20.6437 38.0532 20.4719 37.5942 20.4719C37.1353 20.4719 36.7337 20.6437 36.3895 20.9875Z' fill='white'/%3E%3C/svg%3E%0A");
    }

    @media (max-width: 992px) {
      display: none;
    }
  }

  @media (max-width: 992px) {
    .swiper-wrapper {
      display: block;
    }
  }
}

.services-item {
  border: 1px solid #CBF3F0;
  border-radius: 20px;

  &__sale {
    background-image: url("data:image/svg+xml,%3Csvg width='135' height='53' viewBox='0 0 135 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H135V53H35.0245C24.1094 53 14.456 45.9186 11.1783 35.5072L0 0Z' fill='%23DE2929'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: 0;
    right: 0;
    width: 135px;
    height: 53px;
    z-index: 1;
    color: #fff;
    text-align: center;
    padding-top: 13px;
    padding-left: 12px;
  }

  &__img {
    height: 228px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 32px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__text {
    padding: 0 48px;
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;

    @media (max-width: 767px) {
      padding: 0 16px;
      font-size: 20px;
    }
  }

  &__price {
    font-size: 32px;
    font-weight: 400;
    color: $color-main;
    padding: 0 48px;
    margin-bottom: 24px;

    @media (max-width: 767px) {
      padding: 0 16px;
      font-size: 29px;
    }
  }

  &__more {
    padding: 0 48px 48px 48px;

    @media (max-width: 767px) {
      padding: 0 16px 16px 16px;
    }
  }

  @media (max-width: 992px) {
    margin-bottom: 20px;
  }

  &--small &__img {
    height: 188px;
    margin-bottom: 14px;
  }

  &--small &__text {
    padding: 0 26px;
    font-size: 18px;
    margin-bottom: 48px;
  }

  &--small &__price {
    padding: 0 26px;
    font-size: 32px;
  }

  &--small &__more {
    padding: 0 26px 26px 26px;
  }

  &+.services-item:not(.swiper-slide) {
    margin-top: 24px;
  }

  &:not(.swiper-slide) {
    position: relative;
  }
}


/********************************************************* Our services */
.our-services {
  &__title {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 64px;

    @media (max-width: 767px) {
      font-size: 28px;
      font-weight: 400;
      margin-bottom: 32px;
    }
  }
}

.our-services-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;

  @media (max-width: 767px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.our-services-item {
  border-radius: 20px;
  background: #fff;
  border: 1px solid #CBF3F0;
  padding: 24px 24px 32px 24px;
  width: calc(100% / 4 - 40px);
  margin: 20px;
  display: inline-flex;
  flex-wrap: wrap;
  height: 247px;

  &__img {
    height: 48px;
    img {
      height: 100%;
    }
  }

  &__price {
    padding: 10px;
    background: #1FBBB3;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    margin-left: auto;
    margin-bottom: auto;
  }

  &__title {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    color: $color-main;
    width: 100%;
    margin-bottom: auto;
    margin-top: 0;

    @media (max-width: 767px) {
      margin-top: 28px;
    }
  }

  &__link {
    margin-top: auto;
    width: 100%;
  }

  &.is-orton {
    .our-services-item__img {
      height: 30px;
      margin-top: 12px;
    }
  }

  &.is-empty {
    background: transparent;
    border: none;
    width: calc(50% - 40px);
    padding: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover ;
      border-radius: 20px;
    }

    @media (max-width: 992px) {
      width: calc(100% - 40px);
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  @media (max-width: 992px) {
    width: calc(100% / 2 - 40px);
  }

  @media (max-width: 767px) {
    width: 100%;
    height: auto;
    margin: 8px 0;
  }
}