/********************************************************* Налоговый вычет */
.tax-faqs {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;

  &__col {
    width: calc(100% / 2 - 40px);
    margin: 20px;

    @media (max-width: 767px) {
      width: calc(100% / 1 - 40px);
      margin: 0 20px;
    }
  }
}