.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

section {
  margin: 160px 0;

  @media (max-width: 767px) {
    margin: 48px 0;
  }
}

.section-title {
  font-size: 40px;
  font-weight: 400;

  @media (max-width: 767px) {
    font-size: 28px;
  }
}

/********************************************************* Header */
.header {
  padding: 42px 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media (max-width: 992px) {
    align-items: center;
    padding: 32px 0 16px;
  }
}

header {
  @media (max-width: 992px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 5;
  }
}

.header-logo {
  @media (max-width: 992px) {
    img {
      height: 66px;
    }
  }
}

.header-address {
  padding-left: 40px;
  width: calc(100% / 4);

  &__title {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: $color-gray;
  }

  @media (max-width: 992px) {
    display: none;
  }
}

.header-time {
  padding-left: 40px;
  width: calc(100% / 5);

  &__title {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: $color-gray;
  }

  &__text {
    font-size: 24px;
    font-weight: 600;

    @media (max-width: 992px) {
      font-size: 20px;
    }
  }

  &__subtext {
    color: #4F4F4F;
  }

  @media (max-width: 992px) {
    display: none;
  }
}

.header-phone {
  padding-left: 40px;
  width: calc(100% / 5);

  &__link {
    display: block;
    color: #201E1F;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: all .3s ease;
    margin-bottom: 4px;

    &:hover {
      color: $color-main;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
  }

  @media (max-width: 992px) {
    display: none;
  }
}

.header-links {
  width: calc(100% / 6);
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  &__link {
    margin-left: 15px;
    display: inline-flex;

    &:first-child {
      margin-left: 0;
    }
  }

  &__social {
    width: 100%;
    display: flex;
  }

  &__btn {
    width: 100%;

    .btn.btn-outline-blue {
      width: 100%;
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  @media (max-width: 992px) {
    display: none;
  }
}

.header-mobile-menu {
  margin-left: auto;
  button {
    padding: 0;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    box-shadow: none;
    outline: none;
    height: 26px;
    width: 33px;
    position: relative;

    div {
      width: 33px;
      height: 2px;
      background: $color-main;
      transition: all .3s ease;
      &:nth-child(2) {
        margin: 10px 0;
      }
    }

    &.is-opened {
      div {
        &:nth-child(1) {
          transform: rotate(-45deg);
          top: 12px;
          position: absolute;
        }
        &:nth-child(2) {
          opacity: 0;
          width: 0;
        }
        &:nth-child(3) {
          transform: rotate(45deg);
          top: 12px;
          position: absolute;
        }
      }
    }
  }

  @media (min-width: 993px) {
    display: none;
  }
}

/********************************************************* Mobile sidebar */
.mobile-sidebar {
  background: #fff;
  display: none;
  position: fixed;
  top: 114px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 20px;
  overflow-y: auto;

  &.is-opened {
    display: block;
  }

  .header-links,
  .header-phone,
  .header-time,
  .header-address {
    display: block;
    width: 100%;
    padding: 0 16px;
    margin: 24px 0;
  }

  .header-links {
    &__social {
      justify-content: center;
      order: 2;
    }
    &__btn {
      order: 1;
      margin-top: 20px;
    }
  }
}



/********************************************************* Nav */
nav {
  display: flex;
  align-items: center;
  position: relative;

  @media (max-width: 992px) {
    display: none;
  }
}

.nav {
  display: flex;
  border: 2px solid #F5FBFD;
  border-radius: 15px;
  width: 100%;
}

.nav-item {
  &--services {
    .nav-item__link {
      background: $color-main;
      color: #fff;
      padding: 16px 24px;

      svg {
        margin-left: 11px;
      }

      &:hover {
        background: #1FBBB3;
        color: #fff;
      }
    }
  }

  &--sale {
    a {
      color: #DE2929;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  &__link {
    white-space: nowrap;
    border-radius: 10px;
    height: 100%;
    text-decoration: none;
    font-size: 18px;
    color: #4F4F4F;
    display: inline-flex;
    align-items: center;
    transition: all .3s ease;
    padding: 0 45px;

    &:hover {
      color: $color-main;
    }

    @media (max-width: 1200px) {
      padding: 0 25px;
    }
  }
}

.nav-item-account {
  margin-left: 36px;
}

.nav-item-dropdown {
  padding: 28px 40px;
  position: absolute;
  top: 66px;
  left: 0;
  right: 0;
  border-radius: 20px;
  background: #fff;
  border: 1px solid $color-main;
  display: none;
  flex-wrap: wrap;

  &.is-opened {
    display: flex;
  }

  &__item {
    width: calc(100% / 4);
    margin: 10px 0;
    span {
      width: 50px;
      padding-left: 8px;
      padding-right: 12px;
    }
    a {
      display: inline-flex;
      align-items: center;
      font-size: 18px;
      color: #201E1F;
      text-decoration: none;
      transition: all .3s ease;

      &:hover {
        color: $color-main;
      }
    }

    &--selected {
      a {
        font-weight: 600;
        color: $color-main;
      }
      span {
        display: none;
      }
    }
  }
}


/********************************************************* Mobile nav */
.mobile-nav {
  border-bottom: 1px solid #CBF3F0;
}

.mobile-nav-item {
  margin-bottom: 24px;
  &--services {
    .mobile-nav-item__link {
      width: 100%;
      background: $color-main;
      padding: 16px;
      border-radius: 10px;
      position: relative;
      color: #fff;
      font-size: 20px;

      svg {
        transform: rotate(180deg);
        position: absolute;
        top: 26px;
        right: 16px;
        transition: all .3s ease;
      }
    }
  }

  &__link {
    width: 100%;
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: #4F4F4F;
    padding: 0 16px;

    &.is-opened {
      svg {
        transform: rotate(0);
      }
    }
  }
}

.mobile-nav-item-dropdown {
  border-radius: 10px;
  background: #F5FBFD;
  padding: 16px;
  margin-bottom: 24px;
  display: none;

  &.is-opened {
    display: block;
  }

  &__item {
    width: 100%;
    margin: 24px 0;

    &--selected {
      span {
        display: none;
      }
      a {
        font-weight: 600;
        color: $color-main !important;
      }
    }

    a {
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 18px;
      color: #201E1F;
      text-decoration: none;

      span {
        width: 50px;
        padding-left: 8px;
        padding-right: 12px;
      }
    }
  }
}


/********************************************************* BG */
.with-blue-bg {
  background: #F5FBFD;
  padding: 100px 0;

  @media (max-width: 767px) {
    margin: 48px 0;
    padding: 48px 0;
  }
}


/********************************************************* Row Col */
.row {
  display: flex;
  margin-left: -20px;
  margin-right: -20px;

  &[data-cols="1"] {
    .col {
      width: calc(100% - 40px);
    }
  }

  &[data-cols="2"] {
    .col {
      width: calc(100% / 2 - 40px);

      @media (max-width: 767px) {
        width: calc(100% / 1 - 40px);
      }
    }
  }
}

.col {
  margin: 20px;

  p {
    line-height: 2;
  }
}


/********************************************************* Footer */
footer {
  background: #F5FBFD;
  padding: 80px 0 48px;
}

.footer-logo {
  margin-bottom: 64px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col {
  &--wide {
    width: 50%;

    @media (max-width: 992px) {
      display: none;
    }
  }

  &--small {
    width: 20%;

    @media (max-width: 992px) {
      display: none;
    }
  }

  &--medium {
    width: 25%;

    @media (max-width: 992px) {
      width: 100%;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 32px;

    @media (max-width: 992px) {
      display: none;
    }
  }

  &__info {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 16px;
        a {
          color: #4F4F4F;
          text-decoration: none;

          &:hover {
            color: $color-main;
          }
        }
      }

      &[data-cols="2"] {
        display: flex;
        flex-wrap: wrap;
        li {
          width: 50%;
        }
      }
    }
  }

  &__info-title {
    font-size: 18px;
    font-weight: 400;
    color: #A5ABAD;
    margin-bottom: 16px;
  }

  &__info-text {
    margin-bottom: 16px;

    a {
      color: #4F4F4F;
      text-decoration: none;

      &:hover {
        color: $color-main;
      }
    }
  }

  &__info-social {
    display: flex;
    justify-content: space-between;

    img {
      width: 40px;

      @media (max-width: 992px) {
        width: 32px;
      }
    }
  }
}

.copyright {
  margin-top: 40px;

  a {
    font-size: 14px;
    font-weight: 400;
    display: inline-flex;
    margin-right: 40px;
    text-decoration: none;
    color: #A5ABAD;

    &:hover {
      color: $color-main;
    }
  }
}


/********************************************************* Go to top */
.go-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;

  @media (max-width: 992px) {
    width: 48px;
    height: 48px;
  }
}


/********************************************************* Fixed nav */
.fixed-nav {
  position: fixed;
  top: 30vh;
  left: calc(1320px + calc((100vw - 1320px) / 2));
  display: flex;
  flex-direction: column;
  z-index: 10;

  .btn {
    padding-left: 6px !important;
    padding-right: 6px !important;
    &.btn-outline-blue {
      color: $color-main;
    }

    @media (max-width: 1740px) {
      font-size: 0;
      padding: 0 !important;
      width: 46px;
      height: 46px;
    }
  }

  &__link {
    margin-bottom: 16px;
    background-color: #fff;
  }

  &__link-comment.btn {
    padding-left: 40px !important;
    padding-right: 12px !important;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1975_11226)'%3E%3Cpath d='M3.73223 17.8051C2.67002 16.6823 1.87352 15.3365 1.40122 13.8666L1.40115 13.8663C1.39475 13.8465 1.38834 13.8266 1.38264 13.8074C1.09306 12.9131 0.945225 11.9792 0.944458 11.0394C0.944458 11.0258 0.944458 11.013 0.945174 10.9995L3.73223 17.8051ZM3.73223 17.8051C3.91212 18.5967 3.8887 19.4208 3.66416 20.201M3.73223 17.8051L3.66416 20.201M3.66416 20.201C3.43961 20.9812 3.02121 21.6923 2.44771 22.2683L3.66416 20.201ZM12.5695 0.805933L12.5727 0.805912C15.2597 0.788462 17.871 1.69238 19.969 3.36596C22.2629 5.22418 23.6941 7.92148 23.6945 10.912C23.6825 13.348 22.7375 15.6876 21.0523 17.4519L21.0523 17.4519L21.0487 17.4556C19.0125 19.632 15.9745 21.0212 12.5695 21.0212L12.5683 21.0212C10.9975 21.0249 9.44132 20.721 7.98805 20.1267L7.68781 20.0039L7.45332 20.228L7.41901 20.2608L7.41891 20.2609C6.26904 21.3606 4.78046 22.0302 3.20446 22.168C3.63277 21.6267 3.9528 21.0059 4.14465 20.3393C4.39254 19.478 4.41839 18.5682 4.2198 17.6943L4.18948 17.5609L4.09544 17.4615C3.08457 16.393 2.32665 15.1123 1.87726 13.7136L1.87711 13.7132C1.87032 13.6921 1.86571 13.6777 1.86192 13.665L1.86206 13.6649L1.85832 13.6534C1.58481 12.8087 1.44518 11.9266 1.44446 11.039L1.4445 11.0262C1.44451 11.0256 1.44452 11.0252 1.44452 11.025L1.44453 11.0247L1.4455 11.0064L1.44502 10.9869C1.44448 10.9657 1.44446 10.9428 1.44446 10.9132C1.44446 5.37323 6.38106 0.805923 12.5695 0.805933Z' stroke='%231BA49D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1975_11226'%3E%3Crect width='25' height='24' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 10px 50%;

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1975_11226)'%3E%3Cpath d='M3.73223 17.8051C2.67002 16.6823 1.87352 15.3365 1.40122 13.8666L1.40115 13.8663C1.39475 13.8465 1.38834 13.8266 1.38264 13.8074C1.09306 12.9131 0.945225 11.9792 0.944458 11.0394C0.944458 11.0258 0.944458 11.013 0.945174 10.9995L3.73223 17.8051ZM3.73223 17.8051C3.91212 18.5967 3.8887 19.4208 3.66416 20.201M3.73223 17.8051L3.66416 20.201M3.66416 20.201C3.43961 20.9812 3.02121 21.6923 2.44771 22.2683L3.66416 20.201ZM12.5695 0.805933L12.5727 0.805912C15.2597 0.788462 17.871 1.69238 19.969 3.36596C22.2629 5.22418 23.6941 7.92148 23.6945 10.912C23.6825 13.348 22.7375 15.6876 21.0523 17.4519L21.0523 17.4519L21.0487 17.4556C19.0125 19.632 15.9745 21.0212 12.5695 21.0212L12.5683 21.0212C10.9975 21.0249 9.44132 20.721 7.98805 20.1267L7.68781 20.0039L7.45332 20.228L7.41901 20.2608L7.41891 20.2609C6.26904 21.3606 4.78046 22.0302 3.20446 22.168C3.63277 21.6267 3.9528 21.0059 4.14465 20.3393C4.39254 19.478 4.41839 18.5682 4.2198 17.6943L4.18948 17.5609L4.09544 17.4615C3.08457 16.393 2.32665 15.1123 1.87726 13.7136L1.87711 13.7132C1.87032 13.6921 1.86571 13.6777 1.86192 13.665L1.86206 13.6649L1.85832 13.6534C1.58481 12.8087 1.44518 11.9266 1.44446 11.039L1.4445 11.0262C1.44451 11.0256 1.44452 11.0252 1.44452 11.025L1.44453 11.0247L1.4455 11.0064L1.44502 10.9869C1.44448 10.9657 1.44446 10.9428 1.44446 10.9132C1.44446 5.37323 6.38106 0.805923 12.5695 0.805933Z' stroke='%23ffffff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1975_11226'%3E%3Crect width='25' height='24' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") !important;
      background-repeat: no-repeat !important;
      background-position: 10px 50% !important;
    }

    @media (max-width: 1740px) {
      padding-right: 0 !important;
      background-position: center;
    }
  }

  &__link-order.btn {
    @media (max-width: 1740px) {
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='32' viewBox='0 0 30 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1975_11205)'%3E%3Cpath d='M3.08246 3.83096C3.0329 3.84912 2.92758 3.92178 2.85324 3.98838L2.71075 4.10948V16.4489V28.7823L2.9028 28.9397L3.09485 29.0972L12.5733 29.0851L22.0518 29.0669L22.2004 28.8974L22.3491 28.7278V24.6833V20.6388L25.5148 15.68C27.2618 12.9493 28.7734 10.5456 28.8725 10.3276C29.1327 9.78877 29.1761 9.08037 28.984 8.45674C28.7486 7.70596 28.0981 7.02783 27.3052 6.73116C26.6237 6.46475 25.6263 6.56162 24.9572 6.95518C24.474 7.23975 24.1829 7.60303 23.2164 9.1167L22.3491 10.473V7.31846V4.15791L22.2004 3.98838L22.0518 3.81885L12.6105 3.80674C7.4252 3.80069 3.13202 3.8128 3.08246 3.83096ZM21.296 8.47491V12.1319L19.3259 15.2138L17.3559 18.2896L11.8857 18.3198L6.41541 18.3501L6.2977 18.4954C6.1676 18.6528 6.14282 18.9677 6.26053 19.113C6.44638 19.3491 6.45258 19.3491 11.6874 19.3491C14.4876 19.3491 16.7736 19.3552 16.7736 19.3612C16.7736 19.3733 16.7116 19.555 16.6435 19.773C16.47 20.2997 16.4328 21.2321 16.5443 22.2251C16.5939 22.655 16.6187 23.0304 16.6063 23.0546C16.5939 23.0849 14.2955 23.103 11.5078 23.103H6.43399L6.31009 23.2604C6.13043 23.4845 6.14282 23.7751 6.34106 23.9567L6.50214 24.1021L11.8795 24.1202L17.263 24.1323L18.5082 23.6843C19.8339 23.1999 20.3543 22.9517 20.8004 22.5763C20.9552 22.4491 21.1287 22.3099 21.1906 22.2614C21.2898 22.1827 21.296 22.328 21.296 25.1253V28.0679H12.5299H3.76392V16.4429V4.81787H12.5299H21.296V8.47491ZM27.0574 7.7544C27.4662 7.9542 27.6645 8.14795 27.8565 8.51729C28.0796 8.95322 28.1167 9.44971 27.9557 9.83115C27.8999 9.95225 27.3919 10.7817 26.822 11.6718C25.8431 13.2036 25.7812 13.2884 25.6635 13.2097C25.5953 13.1673 24.951 12.7737 24.2262 12.3317L22.9129 11.5386L24.0094 9.8251C24.9758 8.31748 25.1431 8.09346 25.4095 7.91787C25.5706 7.81494 25.7936 7.69991 25.9051 7.66358C26.1777 7.57881 26.8096 7.62725 27.0574 7.7544ZM23.805 13.3005C24.5732 13.7667 25.1989 14.1663 25.1989 14.1845C25.1989 14.2087 24.22 15.7647 23.0182 17.6417C20.757 21.1958 20.4844 21.5651 19.8215 21.995C19.4436 22.2372 17.7648 22.8851 17.6966 22.8124C17.6718 22.7882 17.6161 22.3583 17.5727 21.8558C17.486 20.8507 17.5294 20.3663 17.771 19.7487C17.9011 19.3915 22.2934 12.4468 22.3801 12.4468C22.3987 12.4468 23.0368 12.8282 23.805 13.3005Z' fill='white'/%3E%3Cpath d='M6.57028 8.79588C6.38443 8.83221 6.17999 9.09256 6.17999 9.30447C6.17999 9.39529 6.24814 9.55271 6.32867 9.64353L6.47736 9.81307L12.3627 9.83123C16.9842 9.84334 18.2975 9.83123 18.4834 9.77068C18.9542 9.61932 19.0038 9.07439 18.5701 8.86248C18.3657 8.75955 17.963 8.7535 12.5299 8.75955C9.32709 8.7656 6.64462 8.78377 6.57028 8.79588Z' fill='white'/%3E%3Cpath d='M6.45876 13.6093C6.14281 13.7849 6.08086 14.1724 6.33486 14.4146L6.48354 14.5659H12.5237H18.5577L18.7188 14.3782C18.9294 14.136 18.9232 13.9302 18.7002 13.7122L18.5206 13.5366H12.5485C8.18099 13.5427 6.55168 13.5608 6.45876 13.6093Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1975_11205'%3E%3Crect width='29' height='31' fill='white' transform='translate(0.5 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
      padding-right: 0 !important;
    }
  }

  &__link-rassrochka.btn {
    @media (max-width: 1740px) {
      background-image: url("data:image/svg+xml,%3Csvg width='34' height='40' viewBox='0 0 34 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.76368 6.15417C5.81583 6.48171 3.59923 7.47956 2.86036 8.82019L2.63185 9.23152L2.609 15.5081C2.58615 22.5311 2.56329 22.1807 3.12697 22.8968C3.75919 23.6966 5.05411 24.3973 6.66134 24.8087C7.97911 25.1438 8.77892 25.2276 10.5918 25.22C11.9401 25.22 12.4047 25.1895 13.2197 25.0448C14.7432 24.7782 16.358 24.2221 16.5256 23.9098C16.6627 23.6509 16.6246 23.369 16.419 23.171C16.1828 22.9272 16 22.9348 15.3526 23.2014C12.0391 24.5878 6.17384 24.1536 4.32286 22.3864C3.81251 21.8989 3.81251 21.9065 3.81251 19.7128V17.7323L4.29239 18.0294C5.69396 18.9053 7.93341 19.4005 10.5004 19.4005C11.8639 19.4005 12.6484 19.3243 13.7682 19.0958C15.3373 18.7682 15.9238 18.494 15.9238 18.0827C15.9238 17.8618 15.6725 17.5266 15.4744 17.4581C15.3906 17.4352 14.9945 17.5114 14.5756 17.6333C13.1359 18.0598 12.4809 18.1436 10.4776 18.1436C8.88556 18.1436 8.53517 18.1208 7.7963 17.9684C6.29572 17.6637 5.30548 17.2829 4.51329 16.704C3.82013 16.1936 3.81251 16.1632 3.81251 13.8856C3.81251 12.8116 3.82775 11.9356 3.84298 11.9356C3.85822 11.9356 4.06388 12.0575 4.30763 12.2022C5.82345 13.1087 7.86486 13.5581 10.5156 13.5581C13.1664 13.5581 15.2078 13.1087 16.7236 12.2022C16.9674 12.0575 17.1731 11.9356 17.1883 11.9356C17.2035 11.9356 17.2188 12.5221 17.2188 13.2305C17.2188 14.5102 17.2188 14.5331 17.4092 14.7159C17.6529 14.9673 18.0033 14.9673 18.2547 14.7159L18.4451 14.5255L18.4223 11.8747L18.3994 9.23152L18.1709 8.82019C17.5158 7.63952 15.741 6.72546 13.2578 6.29128C12.2371 6.10847 9.79962 6.03992 8.76368 6.15417ZM12.0467 7.37292C13.5777 7.52527 14.7051 7.81472 15.7486 8.32507C16.4875 8.6907 17.0893 9.2239 17.1883 9.61238C17.4473 10.6559 15.5277 11.7757 12.7246 12.2098C11.643 12.385 9.38829 12.385 8.30665 12.2098C5.99864 11.8518 4.13243 10.9606 3.88107 10.1075C3.75919 9.70378 3.83536 9.46765 4.23907 9.04109C5.39689 7.8071 8.91603 7.053 12.0467 7.37292Z' fill='%231BA49D'/%3E%3Cpath d='M17.4092 16.3154L17.2188 16.4982V18.4254C17.2188 20.6877 17.2873 21.099 17.7824 22.1121C18.0947 22.7367 18.2699 22.9576 19.8086 24.6105C20.7379 25.6084 21.4844 26.4691 21.4691 26.5225C21.4539 26.5834 20.8445 27.2689 20.1133 28.0535C18.2699 30.0187 18.0871 30.2473 17.752 30.9404C17.2949 31.8773 17.2188 32.4182 17.2188 34.5967V36.4705L17.4092 36.6533L17.592 36.8438H23.9219H30.2518L30.4346 36.6533L30.625 36.4705V34.5434C30.625 32.2811 30.5564 31.8697 30.0613 30.8566C29.749 30.232 29.5738 30.0111 28.0352 28.3658C27.1135 27.368 26.3594 26.5225 26.3594 26.4768C26.3594 26.393 26.4736 26.2635 28.515 24.085C29.5738 22.9576 29.7566 22.7215 30.0613 22.1121C30.5564 21.099 30.625 20.6877 30.625 18.4254V16.4982L30.4346 16.3154L30.2518 16.125H23.9219H17.592L17.4092 16.3154ZM29.391 18.9967C29.3453 21.4418 29.3377 21.4494 26.9611 23.9707C26.0775 24.9076 25.3615 25.7379 25.2854 25.9131C25.1025 26.3016 25.1102 26.6748 25.2854 27.0557C25.3691 27.2232 26.1309 28.1068 27.0145 29.0514C28.5379 30.6662 29.033 31.2984 29.1396 31.7631L29.193 31.9688H23.8914H18.5898L18.7803 31.5346C19.0393 30.9557 19.1002 30.8795 20.875 28.998C22.3908 27.3832 22.6955 26.9719 22.7031 26.5301C22.7031 25.9512 22.566 25.7531 20.9283 24.0164C18.5137 21.4646 18.4984 21.4266 18.4527 18.9967L18.4223 17.3438H23.9219H29.4215L29.391 18.9967ZM29.4062 34.4062V35.625H23.9219H18.4375V34.4062V33.1875H23.9219H29.4062V34.4062Z' fill='%231BA49D'/%3E%3C/svg%3E%0A") !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
      padding-right: 0 !important;
    }
  }

  &__link-nalog.btn {
    @media (max-width: 1740px) {
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='36' viewBox='0 0 32 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1975_11216)'%3E%3Cpath d='M12.1446 3.76161C11.9828 3.9163 11.9688 3.98661 11.9688 4.5913V5.25224L8.68518 6.34911C5.20471 7.50927 4.78986 7.6288 3.19377 7.94521C2.01955 8.17724 1.87893 8.26161 1.39377 8.99286C0.873458 9.77333 0.564083 10.7225 0.43752 11.9179C0.275801 13.4718 0.77502 15.4194 1.67502 16.7765C2.26565 17.6694 3.15861 18.4218 3.62268 18.4218C3.71408 18.4218 3.91799 18.3233 4.06565 18.2038C4.43127 17.9155 5.07111 17.5921 5.66877 17.4022L6.14689 17.2475L6.77971 17.4515C7.13127 17.564 7.55314 17.6694 7.72189 17.6975C7.89064 17.7186 8.03127 17.7749 8.03127 17.8171C8.03127 17.8663 7.95393 18.1054 7.85549 18.3585C6.95549 20.6296 6.35783 24.6374 6.61799 26.6132C6.99064 29.4257 9.13518 31.4647 12.6438 32.3507C15.0133 32.9483 18.2266 33.0679 20.8281 32.653C24.4914 32.0765 27.0649 30.41 27.9578 28.0475C28.3024 27.1265 28.3727 26.5429 28.3305 24.996C28.232 21.4452 27.2477 18.021 25.5531 15.2999L25.2086 14.7444L25.4055 14.3858C25.8063 13.6405 25.9891 12.9655 25.9891 12.164C25.9961 11.496 25.975 11.3835 25.7992 11.0038C25.5813 10.5327 24.8781 9.81552 23.5492 8.69052L22.7828 8.05067L22.825 7.76942C22.9586 6.8413 23.0219 5.77255 22.9938 4.90771C22.9727 3.93036 22.9656 3.92333 22.7758 3.75458L22.5789 3.58583H17.4461H12.3133L12.1446 3.76161ZM21.8828 5.28739C21.8828 7.23505 21.4258 9.36552 20.6946 10.821C20.3922 11.4116 20.35 11.6436 20.4977 11.8194C20.5399 11.8827 20.9055 12.1429 21.3063 12.403C24.7586 14.6671 27.0438 19.5608 27.2055 24.996C27.2477 26.5358 27.1703 27.0632 26.7836 27.8788C25.8696 29.7772 23.8305 31.0077 20.7227 31.528C18.318 31.9358 14.9711 31.8163 12.8969 31.2468C11.2446 30.7968 10.1617 30.2413 9.23361 29.3624C8.7344 28.8843 8.46721 28.5257 8.17189 27.928C7.79221 27.1546 7.71486 26.7397 7.72189 25.3475C7.72189 22.9358 8.1508 20.6999 9.06486 18.3163L9.30393 17.6835L9.70471 17.5569C9.92268 17.4866 10.2813 17.3179 10.5063 17.1843C11.118 16.8116 12.011 16.4108 12.6016 16.2491C13.9446 15.8765 15.2594 15.8975 17.3969 16.3054C18.9578 16.6077 19.1406 16.6218 19.5836 16.4952C20.1883 16.3194 20.6664 15.7288 20.793 14.9905C20.8563 14.6108 20.6735 13.9218 20.3852 13.4436C20.0899 12.9515 19.3375 12.2413 18.775 11.9319C17.9946 11.489 17.2914 11.3554 14.8867 11.1936L14.1836 11.1444L13.9516 10.4554C13.4875 9.09833 13.2133 7.4952 13.1219 5.67411L13.0727 4.71083H17.4742H21.8828V5.28739ZM12.2571 8.17724C12.3344 8.66942 12.5102 9.47099 12.6438 9.96317C12.7774 10.4483 12.8688 10.8632 12.8547 10.8772C12.8406 10.8983 12.7071 10.8491 12.5524 10.7718C11.9547 10.4624 10.886 10.0546 10.6821 10.0546C10.3938 10.0546 10.1406 10.3007 10.1406 10.5749C10.1477 10.8843 10.2742 11.0179 10.7735 11.2218C11.0125 11.3202 11.5188 11.5382 11.8914 11.6999C12.8125 12.1147 13.2906 12.2061 15.1328 12.3397C16.0047 12.403 16.9539 12.5015 17.2422 12.5577C18.2477 12.7686 19.1125 13.3804 19.4992 14.1679C19.7524 14.6882 19.7383 15.0116 19.4571 15.2999C19.2391 15.5179 19.0774 15.5179 17.8188 15.2647C16.2578 14.9554 15.6813 14.885 14.6055 14.885C13.0586 14.8921 11.6875 15.2366 10.4571 15.9257C9.26877 16.6007 9.19143 16.6288 8.45315 16.6218C7.88361 16.6218 7.68674 16.5866 7.11721 16.3897C6.72346 16.2491 6.32268 16.1577 6.13283 16.1577C5.73908 16.1647 4.71955 16.5163 4.03752 16.8819L3.52424 17.1561L3.30627 16.9944C3.03205 16.7976 2.51877 16.1015 2.26565 15.6093C1.78049 14.646 1.45002 13.078 1.52736 12.1358C1.59065 11.3835 1.79455 10.6101 2.08283 10.0194C2.44846 9.27411 2.50471 9.23896 3.71408 8.99286C5.14143 8.69755 6.41408 8.31786 9.43752 7.2913L12.0039 6.41239L12.0602 6.84833C12.0883 7.08036 12.1797 7.67802 12.2571 8.17724ZM23.0922 9.78739C24.1047 10.6522 24.7516 11.3343 24.8289 11.6366C24.9625 12.1429 24.8852 12.7757 24.5899 13.4858L24.4774 13.746L23.9008 13.1413C23.2821 12.4874 22.6914 11.9741 22.1289 11.6015C21.9391 11.4749 21.7633 11.3554 21.7492 11.3483C21.7352 11.3343 21.8406 11.0671 21.9742 10.7436C22.1078 10.4202 22.2766 9.97724 22.3469 9.75224C22.4172 9.53427 22.4946 9.35146 22.5297 9.35146C22.5578 9.35146 22.811 9.54833 23.0922 9.78739Z' fill='%231BA49D'/%3E%3Cpath d='M16.9258 18.1756C16.7641 18.3303 16.75 18.4006 16.75 18.9771V19.6029L16.4055 19.7225C15.6883 19.9545 15.1328 20.4889 14.9149 21.1428C14.8727 21.2764 14.8516 21.6139 14.8657 21.8951C14.9078 22.8443 15.4 23.3506 16.8063 23.9131C18.3391 24.5178 18.6414 24.7357 18.6977 25.2561C18.7399 25.692 18.5008 26.135 18.086 26.367C17.8047 26.5217 17.6852 26.5428 17.0313 26.5428C16.3422 26.5428 16.2649 26.5287 15.8289 26.3107C15.4422 26.1209 15.3297 26.0928 15.1821 26.149C14.7883 26.3037 14.6758 26.824 14.9782 27.0912C15.1821 27.2811 15.8782 27.5623 16.3282 27.6467L16.75 27.7311V28.3146C16.75 28.849 16.7641 28.9193 16.9258 29.074C17.1508 29.3061 17.4743 29.3061 17.6993 29.074C17.861 28.9193 17.875 28.849 17.875 28.2654C17.875 27.8154 17.9032 27.6186 17.9664 27.6045C19.0774 27.26 19.7102 26.5568 19.8157 25.5514C19.9422 24.349 19.3235 23.667 17.4461 22.9568C16.2368 22.4928 15.9766 22.2818 15.9766 21.7686C15.9766 21.1006 16.525 20.7068 17.4532 20.7139C17.875 20.7139 18.0649 20.749 18.3953 20.9037C18.6203 21.0092 18.8946 21.0936 18.993 21.0936C19.3516 21.0936 19.5907 20.6646 19.45 20.285C19.3868 20.1373 18.5289 19.7154 18.1493 19.6521L17.875 19.6029V18.9771C17.875 18.4006 17.861 18.3303 17.6993 18.1756C17.5938 18.0631 17.4461 17.9998 17.3125 17.9998C17.1789 17.9998 17.0313 18.0631 16.9258 18.1756Z' fill='%231BA49D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1975_11216'%3E%3Crect width='31' height='36' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
      padding-right: 0 !important;
    }
  }

  &__link-guarantee.btn {
    @media (max-width: 1740px) {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='30' viewBox='0 0 24 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1975_11221)'%3E%3Cpath d='M5.61133 3.05273C2.55273 4.72852 -0.00781251 6.15234 -0.0722656 6.2168C-0.189453 6.32812 -0.189453 6.41016 -0.189453 10.9453C-0.189453 15.9199 -0.183594 16.0547 0.132812 17.6367C1.07617 22.3477 4.14062 26.4668 8.39453 28.7285C9.17383 29.1445 11.125 30 11.2891 30C11.4824 29.9941 14.0254 28.875 14.7461 28.4707C16.2344 27.6387 17.3418 26.7891 18.5312 25.5703C20.998 23.0449 22.4922 19.9922 23.0195 16.4062C23.1074 15.8262 23.125 15.0703 23.1426 11.0625L23.166 6.39844L23.002 6.22266C22.7969 6.00586 11.5234 0 11.3184 0C11.2422 0 8.67578 1.37109 5.61133 3.05273ZM16.7148 4.06641L22.0176 6.89648V11.2266C22.0117 15.4219 22.0117 15.5801 21.8828 16.4004C21.373 19.6406 20.0137 22.418 17.834 24.6797C16.2344 26.3379 14.752 27.334 12.3145 28.3828L11.2832 28.8281L10.4395 28.4531C8.93359 27.791 8.03125 27.2871 7.03516 26.543C3.95898 24.252 1.82617 20.8184 1.16406 17.1094C0.941406 15.8438 0.923828 15.4629 0.923828 11.1445V6.90234L6.08008 4.07227C8.91601 2.51367 11.2773 1.23633 11.3242 1.23633C11.3711 1.23633 13.7969 2.50781 16.7148 4.06641Z' fill='%231BA49D'/%3E%3Cpath d='M15.8242 12.2051C15.4902 12.4746 14.002 13.6875 12.5078 14.9004L9.79492 17.1093L8.55859 15.6621C7.07617 13.916 7.05273 13.8867 6.77734 13.8867C6.49609 13.8867 6.34961 13.9746 6.25 14.2148C6.17969 14.3847 6.17969 14.4433 6.25 14.6015C6.35547 14.8594 9.29688 18.2871 9.49609 18.3926C9.60156 18.4511 9.70117 18.457 9.8418 18.4218C10.041 18.3691 17.0254 12.7207 17.1309 12.5332C17.3125 12.1875 17.0254 11.7187 16.6328 11.7187C16.457 11.7187 16.3223 11.8008 15.8242 12.2051Z' fill='%231BA49D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1975_11221'%3E%3Crect width='24' height='30' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
      padding-right: 0 !important;
    }
  }

  @media (max-width: 1440px) {
    right: 20px;
    left: auto;
    top: auto;
    bottom: 120px;
  }

  @media (max-width: 992px) {
    bottom: 70px;
  }
}


/********************************************************* Options */
.o-ta-center {
  text-align: center;
}


/********************************************************* Titles */
h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  margin: 0 0 32px;

  @media (max-width: 767px) {
    font-size: 28px;
    margin-bottom: 24px;
  }
}

h3 {

}



/********************************************************* Wide blue bg */
.wide-blue-bg {
  background: linear-gradient(90deg, #1FBBB3 0%, #45D6CE 100%);

  @media (max-width: 767px) {
    border-radius: 10px;
    .container {
      padding: 0;
    }
  }
}


/********************************************************* Consultant */
.consultant {
  display: flex;

  &__info {
    width: 55%;
    padding-right: 28px;
    padding-top: 20px;
    padding-bottom: 20px;

    @media (max-width: 767px) {
      width: 100%;
      padding: 0;
    }
  }

  &__media {
    width: 45%;
    padding-left: 28px;

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__title {
    font-size: 56px;
    font-weight: 600;
    line-height: normal;
    color: #fff;
    margin-bottom: 16px;

    @media (max-width: 767px) {
      font-size: 20px;
    }
  }

  &__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6;
    color: #fff;
    margin-bottom: 24px;

    @media (max-width: 767px) {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 16px;
    }
  }

  &__call {
    margin-bottom: 40px;

    @media (max-width: 767px) {
      margin-bottom: 32px;
    }
  }

  &__call-link {
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    color: #fff;
    text-decoration: none;

    @media (max-width: 767px) {
      font-size: 25px;
    }
  }

  &__btn {
    @media (max-width: 767px) {
      .btn {
        width: 100%;
      }
    }
  }

  @media (max-width: 767px) {
    padding: 40px 20px;
  }
}


/********************************************************* Ul */
.ul-style {
  list-style: none;
  margin: 0 0 40px 0 !important;
  padding: 0;

  li {
    position: relative;
    padding-left: 20px;
    line-height: 2;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    &:before {
      content: '';
      width: 8px;
      height: 8px;
      background: $color-main;
      position: absolute;
      top: 13px;
      left: 0;
      border-radius: 100%;
    }
  }
}