@import "reset";
@import "fonts";

// UI
@import "ui/vars";
@import "ui/common";
@import "ui/btns";
@import "ui/forms";
@import "ui/popup";
@import "ui/content";

// BLOCKS
@import "blocks/slide";
@import "blocks/features";
@import "blocks/services";
@import "blocks/news";
@import "blocks/feedback";
@import "blocks/contacts";
@import "blocks/breadcrumbs";
@import "blocks/price";
@import "blocks/reviews";
@import "blocks/sales";
@import "blocks/banners";
@import "blocks/complaints";


body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-size: 16px;
  color: #201E1F;

  @media (max-width: 992px) {
    padding-top: 115px;
  }
}